USE [master]
GO
/****** Object:  Database [DBColetaDados]    Script Date: 03/09/2017 19:50:14 ******/
CREATE DATABASE [DBColetaDados]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBColetaDados', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DBColetaDados.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBColetaDados_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DBColetaDados_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBColetaDados].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBColetaDados]
GO
USE [DBColetaDados]
GO
/****** Object:  Table [dbo].[TBAlunos]    Script Date: 03/09/2017 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBAlunos](
	[RA] [varchar](13) NOT NULL,
	[Nome] [varchar](120) NOT NULL,
	[Email] [varchar](120) NOT NULL,
	[Carimbo] [varchar](40) NOT NULL,
	[Nascimento] [varchar](40) NOT NULL,
	[Deficiencia] [varchar](3) NOT NULL,
	[EstadoCivil] [varchar](11) NOT NULL,
	[Filhos] [varchar](50) NOT NULL,
	[Cidade] [varchar](6) NOT NULL,
	[Locomocao] [varchar](10) NOT NULL,
	[SituacaoDomiciliar] [varchar](10) NOT NULL,
	[TempoMoradia] [varchar](50) NOT NULL,
	[MoraCom] [varchar](10) NOT NULL,
	[Trabalha] [varchar](50) NOT NULL,
	[MediaRenda] [varchar](50) NOT NULL,
	[PeriodoEstudo] [varchar](9) NOT NULL,
	[PessoasResidem] [varchar](50) NOT NULL,
	[PessoasTrabalham] [varchar](50) NOT NULL,
	[SomaRendas] [varchar](50) NOT NULL,
	[PeriodoTrabalho] [varchar](9) NOT NULL,
	[VidaEscolar] [varchar](50) NOT NULL,
	[ConhecimentoInformatica] [varchar](15) NOT NULL,
	[MotivoVestibular] [varchar](50) NOT NULL,
	[ConhecimentoLingua] [varchar](3) NOT NULL,
	[Linguas] [varchar](20) NOT NULL,
	[Meio] [varchar](3) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[InsereAlunos]    Script Date: 03/09/2017 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsereAlunos]
	@RA varchar(13),
	@Nome varchar(120),
	@Email varchar(120),
	@Carimbo varchar(40),
	@Nascimento varchar(40),
	@Deficiencia varchar(3),
	@EstadoCivil varchar(11),
	@Filhos varchar(50),
	@Cidade varchar(6),
	@Locomocao varchar(10),
	@SituacaoDomiciliar varchar(10),
	@TempoMoradia varchar(50),
	@MoraCom varchar(10),
	@Trabalha varchar(50),
	@MediaRenda varchar(50),
	@PeriodoEstudo varchar(9),
	@PessoasResidem varchar(50),
	@PessoasTrabalham varchar(50),
	@SomaRendas varchar(50),
	@PeriodoTrabalho varchar(9),
	@VidaEscolar varchar(50),
	@ConhecimentoInformatica varchar(15),
	@MotivoVestibular varchar(50),
	@ConhecimentoLingua varchar(3),
	@Linguas varchar(20),
	@Meio varchar(3)
AS
BEGIN
	INSERT 
		INTO TBAlunos(RA,Nome,Email,Carimbo,Nascimento,Deficiencia,EstadoCivil,Filhos,Cidade,Locomocao,SituacaoDomiciliar,TempoMoradia,MoraCom,Trabalha,MediaRenda,PeriodoEstudo,PessoasResidem,PessoasTrabalham,SomaRendas,PeriodoTrabalho,VidaEscolar,ConhecimentoInformatica,MotivoVestibular,ConhecimentoLingua,Linguas,Meio)
			VALUES(@RA,@Nome,@Email,@Carimbo,@Nascimento,@Deficiencia,@EstadoCivil,@Filhos,@Cidade,@Locomocao,@SituacaoDomiciliar,@TempoMoradia,@MoraCom,@Trabalha,@MediaRenda,@PeriodoEstudo,@PessoasResidem,@PessoasTrabalham,@SomaRendas,@PeriodoTrabalho,@VidaEscolar,@ConhecimentoInformatica,@MotivoVestibular,@ConhecimentoLingua,@Linguas,@Meio)
END
GO
/****** Object:  StoredProcedure [dbo].[ListaAlunos]    Script Date: 03/09/2017 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListaAlunos]
AS
BEGIN
	SELECT *	
		FROM TBAlunos
END
GO
USE [master]
GO
